
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
target

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
*.iml

**/dependency-reduced-pom.xml

# Chart dependencies
**/charts/*.tgz
Chart.lock

**/.DS_Store

*.versionsBackup
*.releaseBackup
release.properties