name: Release Operator

on:
  push:
    tags:
      - 'operator-*'

jobs:
  release-operator:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        run: |
            mvn clean install -DskipTests -pl pulsar-operator -am -Pskip-crds
            docker_tag=${GITHUB_REF/refs\/tags\/operator-/}
            
            docker tag datastax/lunastreaming-operator:latest-dev ghcr.io/riptano/pulsar-operator:$docker_tag
            docker tag datastax/lunastreaming-operator:latest-dev datastax/lunastreaming-operator:$docker_tag
            
            docker tag datastax/lunastreaming-operator:latest-dev ghcr.io/riptano/pulsar-operator:latest
            docker tag datastax/lunastreaming-operator:latest-dev datastax/lunastreaming-operator:latest
            
            docker push ghcr.io/riptano/pulsar-operator:$docker_tag
            docker push ghcr.io/riptano/pulsar-operator:latest
            docker push datastax/lunastreaming-operator:$docker_tag
            docker push datastax/lunastreaming-operator:latest

      - uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true