name: Release Operator Chart

on:
  workflow_dispatch:
  push:
    tags:
      - 'kaap-*'

jobs:
  release-operator-chart:
    name: Release Operator Chart
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # needed by the helm releaser to compare diffs
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Install Helm releaser
        run: |
          #!/bin/bash
          chart=helm/kaap
          helm dependency update "$chart"
          helm package "$chart" --destination .cr-release-packages

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@3e001cb8c68933439c7e721650f20a07a1a5c61e
        with:
          charts_dir: helm/kaap
          skip_packaging: true
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Update doc
        run: |
          cd helm/kaap
          docker run --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:latest
          mv README.md /tmp/README.md
          cd ../..
          git reset --hard
          git checkout gh-pages
          mkdir -p kaap
          mv /tmp/README.md kaap/README.md 
          git add kaap/README.md
          git commit -m "kaap/README.md"
          git pull --rebase origin gh-pages
          git push origin gh-pages
